.side_header
{
	height: 100vh; 
	/*background: #eee;*/
	position:fixed;
    border-right: 1px solid #eee;
}

.home_section
{
	/*background: red;*/
    height: 150vh;
    margin-left: 25%;
}

.search_section
{
	height: 150vh;
}

.image_holder
{
    height: 80px;
    width: 83%;
    background: black;
    margin-top: 11px;
}

.menu_container
{
	width: 80%;
	height: 100vh;
	/*background: blue;*/
	margin-left:10%;
}

.menu_container_padding
{
	height: 100vh;
}

.header_title
{
    padding-left: 2%;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 90%;
    float: left;
    font-weight: 800;
}

.profile_container
{
	position: fixed;
	width: 50%;
    z-index: 1111111;
    background: white;
}

.profile_header
{
    float: left;
    width: 100%;
    /*background: yellow;*/
}

.header_side_icon
{
	height: 45px;
    background: black;
    width: 7%;
    border-radius: 50%;
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}

.status_container
{
	background: black;
    margin-top: 51px;
    /*height: 21px;*/
}

.user_status
{
	height: 71px;
    margin-top: 21px;
    border-bottom: 1px solid;
}

.user_image_area
{
    min-height: 88px;
}

.user_image
{
    height: 81%;
    width: 70%;
    border-radius: 50%;
    position: absolute;
    background: #ffffff;
    top: 20px;
}

.tweet_image_holder
{
    min-height: 69%;
    background: black;
    width: 55%;
    position: absolute;
    border-radius: 50%;
    top: 17px;
    left: 27px;
}

.user_tweet_image
{
    position: relative;
    min-height: 71px;
}

.user_tweet_card_parent
{
    margin-top: 13px;
    background: #eee;
}

.user_tweet_card
{
    padding-top: 22px;
    padding-left: 5px;
}

.tweet_user_name
{
    font-size: 17px;
    font-weight: bold;
}

.tweet_text
{
    margin-top: 4px;
    padding: 10px 1px;
    font-size: 15px;
}

.tweet_function_icon
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 13px;
    color: grey;
    font-size: 24px;
    padding: 2px 8px;
}

.tweet_function_icon:hover
{
    background: skyblue;
    color: black;
}

.icon_parent
{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 14px;
    float: left;
    font-size: 21px;
    color: white;
    padding-left: 7px;
    padding-top: 2px;
    cursor: pointer;
}

.icon_parent:hover
{
    background: skyblue;
    color:black;
}

.feed_area
{
	text-align: center;
    margin-top: 2%;
    border-top: 2px solid #eee;
    background: #eee;
}

.feed_area_heading
{
	font-weight: bold;
}

.feed_area_para
{
	padding: 14px;
}

.feed_start_btn
{
    margin-bottom: 2%;
}

.tweet_btn
{
    height: 39px;
    width: 92px;
    display: block;
    margin-top: 18px;
    border: none;
    float: right;
    border-radius: 64px;
    margin-right: 13%;
    outline: none;
    cursor: pointer;
    background: white;
}

.tweet_btn:hover
{
    background: skyblue;
    color:white;
}


.search_box_area
{
    height: 50px;
    width: 90%;
    background: grey;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 27px;
}

.whats_happening_area
{
	height: 500px;
    background: burlywood;
    margin-top: 24px;
}

.who_to_follow_area
{
	height: 350px;
    background: burlywood;
    margin-top: 24px;
}

.menu_item_parent
{
    float: left;
    list-style: none;
    padding-left: 37px;
}

.menu_item
{
    padding-top: 3%;
    padding-bottom: 3%;
    list-style: none;
    margin-top: 5px;
    width: 100%;
    float: left;
    /* background: cadetblue; */
    /* text-align: center; */
    padding-left: 10px;
    border-radius: 20px;
    padding-right: 10px;
    margin-left: 7%;
    /* margin-right: 23%; */
    font-size: 20px;
    font-weight: bold;
}

.mobilie_menu_container
{
    display: none;
}

.menu_item:hover
{
    background: skyblue;
    color: white;
}

.twitter_icon
{
    border-radius: 50%;
    width: 41px;
    border: 1px solid #eee;
    margin-left: 23px;
    padding-left: 10px;
}

.first_icon
{
    margin-left: 26%;
}

.mobile_menu_item
{
    padding-top: 3%;
    padding-bottom: 3%;
    list-style: none;
    margin-top: 5px;
    width: 100%;
    float: left;
    padding-left: 22%;
    border-radius: 20px;
    padding-right: 10px;
    margin-left: 7%;
    font-size: 20px;
    font-weight: bold;
}

.mobile_menu_item:hover
{
    background: skyblue;
    color: white;
}

.user_status_text
{
    height: 70px;
    background: transparent;
    color: white;
    border: none;
    font-size: 20px;
    padding-left: 13px;
    outline: none;
}

.text-indent {
    text-indent: 30px;
    font-size: 13px;
    border-radius: 20px !important;
}

.position-relative {
    position: fixed;
    width: 22.8%
    z-index:11111;
}

.align_search_icon {
    top: 40%;
    position: absolute;
    z-index: 11111;
    left: 6%;
    color: #80808091;
}

.whats_happening_area {
    background: #f3f3f3;
    margin-top: 60px;
    border-radius: 14px;
}

.who_to_follow_area {
    background: #f3f3f3;
    border-radius: 14px;
}

.heading_whatsHappening {
    padding-left: 14px;
    font-weight: bold;
    font-size: 17px;
    /* border-bottom: 1px solid #adabab; */
    padding-bottom: 1rem;
}

.set_news_headline {
    font-size: 14px;
    /* padding-left: 1.5rem */
}

.bold {
    font-weight: bold;
}

.paragraph {
    font-weight: bold;
    font-size: 13px;
    text-align: justify;
    word-spacing: -1px;

}

.smallPadding {
    padding-left: 5px;
    padding-right: 5px;
}

.image_whatsHappening {
    font-size: 70px !important;
    color: #a0a0a0;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.border-bottom {
    border-bottom: 2px solid #efeeee;
}

.border-radius {
    border-radius: 20px;
}

.span_for_pin {
    padding: 1px 8px;
    background: gray;
    border-radius: 7px;
    float: left;
}

.transform_pinIcon {
    color: #e2e2e2;
    transform: rotate(45deg);
    font-size: 10px !important;
}

.paragraph_pined {
    line-height: 25px;
    font-size: 12px;
    padding-left: 25px;
}

.pt-1 {
    padding-top: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.mb-0 {
    margin-bottom: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.mt-1 {
    margin-top: 1rem;
}

.profile_pic {
    width: 46px;
    height: 46px;
    background: black;
    border-radius: 28px;
}

.btn_twitter_follow {
    border-color: #00b5de;
    border-radius: 23px;
    color: #00b5de;
    margin-top: 6px;
    font-size: 13px;
}

@media only screen and (max-width: 991px) {
    .search_section 
    {
        display: none;
    }

    .profile_container
    {
        width: 83.3% !important;
    }

    .full_menu_container
    {
        display: none;
    }

    .mobilie_menu_container
    {
        display: block;
    }
    .home_section
    {
        margin-left: 16.7%;
    }

    .menu_container
    {
        width: 48%;
        height: 100vh;
        margin-left: 24%;
    }
}

@media only screen and (max-width: 400px) {
    .tweet_btn
    {
        width:100%; 
    }

    .icon_parent
    {
        margin-left: 4px;
    }


    .first_icon 
    {
        margin-left: 21% !important;
    }
}
